!!!
%html
  %head
    %title 
      Wedding - Nos casamos!!!
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{href: 'http://fonts.googleapis.com/css?family=Lobster', rel: 'stylesheet', type: 'text/css'}
  %body
    .container-fluid
      .row-fluid
        #topbar
          #text
            Sara Y Miguel
        .gallery
          .carousel.slide#myCarousel
            .carousel-inner
              - @photos.each_with_index do |p, i|
                .item{class: i == 0 ? "active" : ""}
                  %img{src: p.image.url}
                  .carousel-caption
                    %h4= p.title
                    %p= p.description
            <!-- Carousel nav -->
            %a.carousel-control.left{href:'#myCarousel', data: {slide: 'prev'}}
              &lsaquo;
            %a.carousel-control.right{href:'#myCarousel', data: {slide: 'next'}}
              &rsaquo;
            %a.btn.btn-large#photos-button{data: {toggle: "modal"}, href: "#photos_form"} Sube tu foto
        = yield
        = render partial: "photos_form"
